<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ulyer.baseserver.mapper.BaseActionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ulyer.baseclient.entity.BaseAction">
        <id column="actionId" property="actionId" />
        <result column="actionName" property="actionName" />
        <result column="actionValue" property="actionValue" />
        <result column="status" property="status" />
        <result column="priority" property="priority" />
        <result column="remark" property="remark" />
        <result column="menuId" property="menuId" />
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        actionId, actionName, actionValue, status, priority, remark, menuId, createTime, updateTime
    </sql>
    <select id="listActionByRoles" resultType="cn.ulyer.baseclient.entity.BaseAction">
        select  <include refid="Base_Column_List"></include>
        from base_action
        where status=1 and  menuId in(
            select menuId
            from base_menu where status=1 and menuId in (
            select menuId from base_role_menu where roleId in(
                <foreach collection="roles" item="role" separator=",">
                     #{role.roleId,jdbcType=BIGINT}
                 </foreach>
                     )
                )
        )
    </select>

    <select id="listActionByMenuId" resultType="cn.ulyer.baseclient.vo.ActionVo">
        select  <include refid="Base_Column_List"></include>
        from base_action
        where menuId = #{menuod,jdbcType=BIGINT}
        and status=1
    </select>

</mapper>
